apiVersion: project.openshift.io/v1
description: "{{ namespace_description }}"
displayName: "{{ namespace_display_name }}"
kind: ProjectRequest
metadata:
    name: "{{ namespace }}"
    labels:
        app: "{{ application_name }}"
        env: "{{ env }}"